.song_form {margin: 0 0 24px 0; width: 100%;}

.top {display: table; margin: 0 0 8px 0; width: 100%;}

.top_left {display: table-cell; padding: 0 4px 0 0; width: 50%;}
.top_left input {width: 100%;}
.top_right {display: table-cell; width: 50%;}
.top_right input {width: 100%;}

.url {width: 100%;}

.btn {display: block; margin: 12px 0 0 0;}